<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/logo.png" >
    <link rel='stylesheet' href="/css/style.css" >
    <title>About Page</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <div class="about">
            <p> This site was created by {{name}} ,  It uses data from mapbox and weatherstack!</p> 
            <img src='/img/me.jpg'/>
            <P>
                Mapbox 
                <a href="https://www.mapbox.com/">https://www.mapbox.com/</a>
            </P>
            <P>
                Weatherstack 
                <a href="https://weatherstack.com/">https://weatherstack.com/</a>
            </P>
        </div> 
    </div>
          
    {{>footer}}
</body>
</html>